@model CinemaStar.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details about the chosen movie</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Movie name:  
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Ticket price:  
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>

        <dt>
            Movie poster:  
        </dt>

        <dd>
           <img src="@Url.Content(Model.image_path)" alt="Image" width="150" height="200" />
        </dd>

        <dt>
            Rating:  
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary" })
</p>
