@model IEnumerable<CinemaStar.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>List of movies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="moviesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Ticket Price
            </th>
            <th>
                Movie poster
            </th>
            <th>
                Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPrice)
                </td>
                <td>
                    <img src="@item.image_path" style="max-width:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rating)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
        </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#moviesTable").DataTable();
        });
    </script>
}