@model IEnumerable<CinemaStar.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h1>Bookings</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Booking reference
            </th>
            <th>
                Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>

            <th>
                Ticket price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowTime.ShowDate)  -  @Html.DisplayFor(modelItem => item.ShowTime.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Movie.TicketPrice)
                </td>
                <td>
                    @Html.ActionLink("Book", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>